<a href="https://colab.research.google.com/github/win71/python-lecture_fast-campus/blob/master/Chapter_02_%EC%BB%AC%EB%A0%89%EC%85%98_%ED%83%80%EC%9E%85%EC%9D%98_%EC%9D%B4%ED%95%B4(dict%2C_set).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 학습목표
 1. dictionary, set에 대해 이해 및 실습

### **dictionary**
 + 키와 값을 갖는 데이터 구조
 + 키는 내부적으로 hash값으로 저장
 + 순서를 따지지 않음. 즉, 인덱스가 없음

In [15]:
a=[0,1,2,3,4]
print(a[0])
print(a[4])

a={'korea':'seoul','canada':'ottawa','usa':'washinton d.c'}
print(a)

print(a['canada'])
type(a)

print('=====================================================')
b={0:1, 1:6, 7:9, 8:10}
print(b)
print(b[7])
print(b[2])

0
4
{'korea': 'seoul', 'canada': 'ottawa', 'usa': 'washinton d.c'}
ottawa
=====================================================
{0: 1, 1: 6, 7: 9, 8: 10}
9

KeyError: ignored

+ **항목 추가 및 변경**
 - 기존에 키가 존재 하면, 새로운 값으로 업데이트
 - 존재하지 않으면, 새로운 키, 값 생성

In [24]:
a={'korea':'seoul','canada':'ottawa','usa':'washinton d.c'}
a['japan']='tokyo'
a['china']='beijing'
print(a)

# 키값은 중복이 안된다. 만일 동일한 키 값에 다른(새로운)값을 넣으면 기존 값이 그 값으로 대체가 된다. 
a['japan']='kyoto'
print(a)

#키값만 다르면 value는 같아도 상관없다.
a['japan2']='kyoto2'
print(a)

{'korea': 'seoul', 'canada': 'ottawa', 'usa': 'washinton d.c', 'japan': 'tokyo', 'china': 'beijing'}
{'korea': 'seoul', 'canada': 'ottawa', 'usa': 'washinton d.c', 'japan': 'kyoto', 'china': 'beijing'}
{'korea': 'seoul', 'canada': 'ottawa', 'usa': 'washinton d.c', 'japan': 'kyoto', 'china': 'beijing', 'japan2': 'kyoto2'}

+ **update()**
 * 두 딕셔너리를 병합함
 * 겹치는 키가 있다면 parameter로 전달되는 키 값이 overwrite된다.

In [26]:
a={'a':1,'b':2,'c':3}
b={'a':2,'d':4,'e':5}

a.update(b)

print(a)

{'a': 2, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

* **key삭제**
 - del 키워드 사용
 - pop 함수이용

In [31]:
a={'a':1,'b':2,'c':3}
print(a)

del a['b']
print(a)

a={'a':1,'b':2,'c':3}
print(a)

c=a.pop('a')
print(a)
print(c)
type(c)

{'a': 1, 'b': 2, 'c': 3}
{'a': 1, 'c': 3}
{'a': 1, 'b': 2, 'c': 3}
{'b': 2, 'c': 3}
1

int

* **clear()**
 + 딕셔너리의 모든 값을 초기화

In [32]:
print(a)
a.clear()
print(a)

{'b': 2, 'c': 3}
{}

* **in**
 + key값 존재 확인
 + O(1) 연산 - 딕셔너리의 크기와 관계없이 항상 연산의 속도가 일정하다는 의미

In [36]:
a={'a':1,'b':2,'c':3}
print(a)

b=[1,2,3,4,5,6,100]

print(100 in b)  # 리스트의 경우 안에 요소가 많으면 성능저하가 동반된다.
print('b' in a)  # 사전형 타입에서는 키값이 주어져 있으면 아무리 요소가 많아도 바로 찾아준다.

{'a': 1, 'b': 2, 'c': 3}
True
True

* **value access**
 + dict[key]로 접급, 키가 없는 경우 에러 발생 
 + .get() 함수로 접근, 키가 없는 경우 None반환

In [38]:
a={'a':1,'b':2,'c':3}
print(a.get('b'))
print(a.get('d'))

2
None

#### **모든 keys, values 접근**
 + keys() - 키만 반환
 + values() - 값만 반환
 + items() - 키, 값의 튜플을 반환

In [46]:
print(a)
print(a.keys())
print(a.values())

print('=========================================')
print(list(a.keys()))
print(list(a.values()))

print('=========================================')
b=list(a.keys())
c=list(a.values())
print(b)
print(c)

print('=========================================')
d=list(a.items())
print(d)

{'a': 1, 'b': 2, 'c': 3}
dict_keys(['a', 'b', 'c'])
dict_values([1, 2, 3])
=========================================
['a', 'b', 'c']
[1, 2, 3]
=========================================
['a', 'b', 'c']
[1, 2, 3]
=========================================
[('a', 1), ('b', 2), ('c', 3)]

### **set**
 + dictionary에서 key만 활용하는 데이터 구조로 이해
 + 수학에서의 집합과 동일한 개념

In [47]:
a={1,1,1,2,13,3,4,1,5}
print(a)

# 인덱싱이 없다. 따라서 순서가 없다. 중복을 허용하지 않는다.

{1, 2, 3, 4, 5, 13}

* **set()으로 집합으로 변환**

In [49]:
a=set()
type(a)

a=[1,2,3,1,4,5,5,6]
b=set(a)
print(a)
print(b)

[1, 2, 3, 1, 4, 5, 5, 6]
{1, 2, 3, 4, 5, 6}

+ **set operations**
 - 수학 연산과 동일
 - 교집합, 합집합, 차집합 등 지원

In [50]:
a={1,2,3}
b={2,3,4}

print(a.union(b))
print(a.intersection(b))
print(a.difference(b))
print(a.issubset(b))

{1, 2, 3, 4}
{2, 3}
{1}
False