<a href="https://colab.research.google.com/github/win71/python-lecture_fast-campus/blob/master/Chapter_02_%EC%BB%AC%EB%A0%89%EC%85%98_%ED%83%80%EC%9E%85%EC%9D%98_%EC%9D%B4%ED%95%B4(list%2C_tuple).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 학습목표
 1. list, tuple에 대해 이해 및 실습

### **리스트 & 튜플**
 * 복수개의 값을 담을 수 있는 데이터 구조
 * 실생활에서 사용하는 리스트(학생 리스트, 성적 리스트 등등)과 동일한 의미로 이해
 * list - mutable    (생성된 후에 변경 가능)  
 * tuple - immutable (생성된 후에 변경 불가능)

#### **리스트 초기화**
 - [] 안에 값을 담아서 생성
 - list() 함수로 생성
 - str.split()함수로 생성

In [4]:
a=[]
print(a)

b=[1,2,3,4,5,10]
print(b)

c=['korea','canada',1,2,[34,35]]
print(c)

[]
[1, 2, 3, 4, 5, 10]
['korea', 'canada', 1, 2, [34, 35]]

* **list() 함수**
 + 다른 데이터 타입을 리스트로 변환할 때도 사용

In [7]:
a='hello world'
b=list(a)
print(b)

c=(1,2,3)
d=list(c)
print(d)

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']
[1, 2, 3]

+ **string split 함수**
 * 구분자로 구분되는 리스트를 반환 (빈번히 사용 됨)

In [10]:
a='hello world nice weather'
b=a.split()
print(b)

['hello', 'world', 'nice', 'weather']

#### **리스트 indexing**
 * 문자열의 인덱싱과 동일하게 동작
 * [] 연산자를 이용하여 항목 얻어오기
 * [i] - i번째 원소를 반환
 * i가 음수인 경우도 가능하며 마지막원소가 -1로 하여 앞으로 갈때마다 1씩 감소함

In [15]:
a=[1,2,3,4,5,6]
print(a[2])
print(a[5])
print(a[-1])

3
6
6

#### **리스트 개별 아이템에 접근**
 - 인덱스에 접근하여 값을 업데이트 가능

In [19]:
# 문자열은 불변객체(immutable)
a='hello world'
print(a[0])

## a[0]='j'  이것은 실행이 되지 않는다.
c="j"+a[1:]
print(c)

d=a.replace('h','j')
print(d)
print(a)

h
jello world
jello world
hello world

In [21]:
# 숫자열 리스트는 mutable 변경가능한 객체
a=[1,2,3,4,5,6]
a[0]=100
a[-1]=95
print(a)

[100, 2, 3, 4, 5, 95]

#### **리스트 slicing**
 - 문자열 슬라이싱과 동일하게 동작
 - 슬라이싱의 결과 역시 list!

In [33]:
a=[1,2,3,4,5,6,7,8]
len(a)
print(a[4:7])
print(a[:7])
print(a[3:])
print(a[:])

print('===========================================================')
# slicing
# statr:end:increment
print(a[1:7:1])
print(a[1:7:2])
print(a[1:7:4])
print(a[1:7:6])

[5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]
===========================================================
[2, 3, 4, 5, 6, 7]
[2, 4, 6]
[2, 6]
[2]

### list 멤버 함수
 - 생성된 리스트 객체에 동작하는 함수
 - 향후, 클래스와 멤버 함수 개념을 이해할 예정

* **append()**
 + 리스트의 끝에 항목을 추가함

In [35]:
a=[1,2,3,4,5]
a.append(10)
print(a)

[1, 2, 3, 4, 5, 10]

+ **extend()**
 * 리스트를 연장
 * += 로도 가능함

In [43]:
a=[1,2,3,4,5]
b=[6,7,8,9,10]
a.append(b)
print(a)

[1, 2, 3, 4, 5, [6, 7, 8, 9, 10]]

In [44]:
a=[1,2,3,4,5]
b=[6,7,8,9,10]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [45]:
a=[1,2,3,4,5]
b=[6,7,8,9,10]
c=a+b
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

+ **insert()로 항목추가**
 * 리스트의 원하는 위치에 추가 가능
 * 앞에 인덱스를, 뒤에 아이템을 명시

In [47]:
a=[1,2,3,4,5]
a.insert(1,100)
print(a)

[1, 100, 2, 3, 4, 5]

+ **remove()**
 * 값으로 항목 삭제

In [49]:
a=[1,2,3,3,4,5]
a.remove(3) # remove() 괄호안에는 값이 들어간다.
print(a)

[1, 2, 3, 4, 5]

+ **pop()**
  - 지우고자 하는 아이템을 반환 후, 삭제

In [51]:
a=[1,2,3,7,4,5]
d=a.pop(3)
print(a)
print(d)

[1, 2, 3, 4, 5]
7

+ **index()**
 * 찾고자 하는 값의 인덱스 반환

In [55]:
a=[1,2,3,7,4,5]
a.index(5)

5

* **in 키워드**
 + 리스트 내에 해당 값이 존재하는지 확인
 + value in [list]
 + True, False 중 한가지로 반환

In [58]:
a=[1,2,3,7,4,5]
b=7
c=b in a
print(c)

True

* **list 정렬**
 + sort() -> 리스트 자체를 내부적으로 정렬
 + sorted() -> 리스트의 정렬된 복사본을 반환

In [64]:
a=[9,11,4,54,21,32,11]
a.sort()
print(a)

[4, 9, 11, 11, 21, 32, 54]

In [65]:
a=[9,11,4,54,21,32,11]
a.sort(reverse=True)
b=sorted(a)
print(a)
print(b)

[54, 32, 21, 11, 11, 9, 4]
[4, 9, 11, 11, 21, 32, 54]

### **tuple**
 - 리스트와 같이 복수개의 값을 갖는 컬렉션 타입
 - 생성된 후 변경이 불가능

In [68]:
a=[1,2,3]
b=(1,2,3)
print(type(a))
print(type(b))

a[0]=100
print(a)

b[0]=100
print(b)

<class 'list'>
<class 'tuple'>
[100, 2, 3]

TypeError: ignored

#### **tuple unpacking**
 - 튜플의 값을 차례대로 변수에 대입

In [71]:
a,b,c,d=100,200,300,400
print(a,b,c,d)

100 200 300 400

* **연습문제** a와 b의 값을 교환하시오

In [77]:
a=5
b=4

print(a,b)

# logic
temp=a
a=b
b=temp

print(a,b)

5 4
4 5

In [76]:
a=5
b=4
a,b=b,a
print(a,b)

4 5