<a href="https://colab.research.google.com/github/win71/python-lecture_fast-campus/blob/master/Chapter_03_%EB%B0%98%EB%B3%B5%EB%AC%B8%EC%9D%98_%EC%9D%B4%ED%95%B4(for).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 학습목표
 * 반복문의 이해 및 활용 (for)
 * range 함수 이해

### for 반복문 
 - 리스트, 문자열 등등 순회 가능한 객체를 순회하면서 값을 처리할 때 사용
 - 아래와 같은 문법으로 사용
 - 여기서 i는 매번 수행 될 때마다, a의 아이템으로 순차적으로 변경 됨
 - 모든 아이템이 순회되면 for 블록 종료
 
```python
a = [1, 2, 4, 3, 5]
for i in a:
    print (i, i * 2)
```

In [3]:
a = [3, 5, 7, 4, 5]
for i in a:
    print (i, i * 2)
print('hahaha')

3 6
5 10
7 14
4 8
5 10
hahaha

In [9]:
a = [3, 5, 7, 4, 5]
for i in range(0,len(a)):
    print (a[i], i)
print('hahaha')

3 0
5 1
7 2
4 3
5 4
hahaha

#### 문자열의 아이템 출력하기
 - 문자열의 경우 순회 가능, 리스트의 유사하게 순회 가능

In [8]:
a='hello world'
for x in a:
    print(x)

h
e
l
l
o

w
o
r
l
d

#### 리스트 아이템 출력하기

In [11]:
a=[1,10,3,4,5]
for x in a:
    if x%2==1:
        print(x)
    else:
        print(x/2)

1
5.0
3
2.0
5

#### dict의 아이템 출력하기
  - dictionary의 경우 기본적으로 순회 하게 되면 key값을 참조
  - keys()함수를 이용하여 key 값만 순회 가능
  - values()함수를 이용하여 value 값만 순회 가능
  - items()함수를 이용하여 tuple형태로 key, value 순회 가능

In [14]:
a={'korea':'seoul','canada':'ottawa','japan':'tokyo'}
for x in a:
    print(x,a[x])

korea seoul
canada ottawa
japan tokyo

In [16]:
for value in a.values():
    print(value)
    
for key in a.keys():
    print(key)

seoul
ottawa
tokyo
korea
canada
japan

In [17]:
for key,value in a.items():
    print(key,value)

korea seoul
canada ottawa
japan tokyo

#### for에서 index 사용하기
  - 기본적으로 for에 리스트를 순회하는 경우, 값만 추출 함
  - 아래와 같은 코드로 인덱스와 값 모두 사용 가능(enumerate 함수 이용)

```python
a = [1, 2, 4, 3, 5]
for i, val in enumerate(a):
    print i, val
```

In [22]:
a = [1, 2, 4, 3, 5]
for i, val in enumerate(a):
    if i>3:
        print(i, val)

hahaha
hahaha
hahaha
hahaha
4 5
hahaha

####  break
  - for의 경우에도 특정 조건일 때, loop 종료가 가능

In [23]:
a=[100,90,80,70,60,50]
for num in a:
    if num<80:
        break
    print(num)

100
90
80

#### continue
 - 해당 아이템을 건너 뛰고 싶을 때 사용

In [26]:
a=[100,90,80,70,60,50]
for num in a:
    if num>=60 and num<=70:
        continue
   
    print(num)

100
90
80
50

#### loop 중첩
  - 반복문의 경우에도 중첩하여 사용 가능
  - 중첩이라는 것은 반복문 블록의 코드안에 또 반복문의 코드가 작성되는 것을 의미
  - 이런 경우, 내부 루프는 외부 루프가 수행되는 만큼 반복 수행 됨
  - 또한 중첩의 경우 무한히 가능

```python
a = [1, 2, 4]
for i in a:
    for j in a:
        print i * j
```

#### 구구단 출력하기

In [29]:
a = [1, 2, 4]
for i in a:
    for j in a:
        print(i, "*", j)

1 * 1
1 * 2
1 * 4
2 * 1
2 * 2
2 * 4
4 * 1
4 * 2
4 * 4

In [31]:
for i in range(2,10):
    for x in range(1,10):
        print(i,'x', x)

2 x 1
2 x 2
2 x 3
2 x 4
2 x 5
2 x 6
2 x 7
2 x 8
2 x 9
3 x 1
3 x 2
3 x 3
3 x 4
3 x 5
3 x 6
3 x 7
3 x 8
3 x 9
4 x 1
4 x 2
4 x 3
4 x 4
4 x 5
4 x 6
4 x 7
4 x 8
4 x 9
5 x 1
5 x 2
5 x 3
5 x 4
5 x 5
5 x 6
5 x 7
5 x 8
5 x 9
6 x 1
6 x 2
6 x 3
6 x 4
6 x 5
6 x 6
6 x 7
6 x 8
6 x 9
7 x 1
7 x 2
7 x 3
7 x 4
7 x 5
7 x 6
7 x 7
7 x 8
7 x 9
8 x 1
8 x 2
8 x 3
8 x 4
8 x 5
8 x 6
8 x 7
8 x 8
8 x 9
9 x 1
9 x 2
9 x 3
9 x 4
9 x 5
9 x 6
9 x 7
9 x 8
9 x 9

#### collection의 길이
 - len() 내장함수로 계산 가능
 - 내장함수란 파이썬 내부에 구현되어 있어서, import하지 않고도 사용 가능한 함수를 의미
 - abs, len, type, range 등이 있음 (과정 진행하면서 필요할 때마다 다룰 예정)

In [34]:
a=[1,3,41,2,5,6,7]
print(a)
b=len(a)
print(b)

[1, 3, 41, 2, 5, 6, 7]
7

#### range 함수
  - 리스트를 쉽게 만들 수 있는 내장함수
  - 주어진 값에 따라 다양한 결과를 반환
 
```python
range(10)       -> [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
range(2, 10)    -> [2, 3, 4, 5, 6, 7, 8, 9] 
range(2, 10, 3) -> [2, 5, 8] 
```

* 1 - 100까지의 리스트 생성하기

In [38]:
a=list(range(1,101))
print(a)
type(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

list

* **연습문제** 1부터 100사이의 5의 배수만을 갖는 리스트를 생성하시오

In [46]:
a=list(range(1,101))
k=[]
for x in a:
    if x%5==0:
        k.append(x)
print(k)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

In [50]:
a=list(range(5,101,5))
print(a)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

### if & for 연습문제
   
  1. 구구단을 2 - 9단까지 출력하시오.
  2. 1 - 100까지 정수 중 2의 배수 또는 11의 배수를 모두 출력하시오. 
  4. a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45] 에서 최대값과 최소값을 찾으시오. (sorted, sort 사용 금지)
  5. a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45] 에서 평균을 구하세요.

In [65]:
for i in range(2,10):
    for x in range(1,10):
        print(i, '*', x, '=',i*x)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [66]:
a=list(range(1,101))
k=[]
for i in a:
    if i%11==0 or i%2==0:
        k.append(i)
print(k)

[2, 4, 6, 8, 10, 11, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 33, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 77, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 99, 100]

In [59]:
a=[22,1,3,4,7,98,21,55,87,99,19,20,45]
min_a=a[0]
for x in a:
    if min_a>x:
        min_a=x
print(min_a)

1

In [61]:
a=[22,1,3,4,7,98,21,55,87,99,19,20,45]
max_a=a[0]
for x in a:
    if max_a<x:
        max_a=x
print(max_a)

99

In [63]:
a=[22,1,3,4,7,98,21,55,87,99,19,20,45]
_sum=0
for x in a:
    _sum=_sum+x
    
print(_sum, len(a))
print(_sum/len(a))

481 13
37.0

In [64]:
a=[22,1,3,4,7,98,21,55,87,99,19,20,45]
_sum=0
for x in range(0,len(a)):
    _sum=_sum+a[x]
    
print(_sum, len(a))
print(_sum/len(a))

481 13
37.0