<a href="https://colab.research.google.com/github/win71/python-lecture_fast-campus/blob/master/Chapter_04_lambda_%ED%95%A8%EC%88%98%EC%9D%98_%EC%9D%B4%ED%95%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



### 학습목표
 2. Lambda 함수 이해 및 사용

* **Lambda 함수**
 + 단일문으로 표현되는 익명함수
 + 익명함수란 이름이 없는 구현체만 존재하는 간단한 함수를 의미
 + 코드 상에서 한번만 사용되는 기능이 있을 때, 굳이 함수로 만들지 않고 1회성으로 만들어서 쓸 때 사용.

In [5]:
s=lambda x:x**2

s(9)
## 람다함수에는 return 사용하지 않는다.

81

In [6]:
def s2(x):
    return x**2

s2(9)

81

In [7]:
def add(x,y):
    return x+y
add(3,4)

7

In [8]:
add2=lambda x,y:x+y
add2(9,8)

17

#### **filter, map, reduce**
 + lambda가 유용하게 사용되는 3가지 대표적 함수
 + 함수형 프로그래밍의 기본 요소이기도 함
 + filter : 특정 조건을 만족하는 요소만 남기고 필터링
 + map    : 각 원소를 주어진 수식에 따라 변형하여 새로운 리스트를 반환
 + reduce : 차례대로 앞 2개의 원소를 가지고 연산. 연산의 결과가 또 다음 연산의 입력으로 진행됨. 따라서 마지막까지 진행되면 최종 출력은 한개의 값만 남게 됨

In [11]:
strings=['bob','chares','alexander3','teddy']
strings.sort()
print(strings)

['alexander3', 'bob', 'chares', 'teddy']

In [15]:
## 위에 기본적인 sort함수는 기본적으로 알파벳순으로 호출
## 그런데 문자의 길이로 호출하려면

def str_len(s):
    return len(s)

str_len('이창문')

strings.sort(key=str_len)
print(strings)

## 여기서 str_len 함수는 여기에서 한번 사용하고 말 함수. 좀 더 간단하게 표현할 필요있다. 
## 한줄로 심플하게 코딩을 하려면 람다함수를 사용하면 된다.

['bob', 'teddy', 'chares', 'alexander3']

In [17]:
strings.sort(key=lambda x:len(x))
print(strings)

['bob', 'teddy', 'chares', 'alexander3']

In [0]:
## filter(함수,리스트)
nums=[1,2,3,6,9,8,10,11,13]

In [37]:
## 일반적인 함수
def even(x):
   return x%2==0

list(filter(even,nums))

[2, 6, 8, 10]

In [29]:
## lambda 함수사용
list(filter(lambda x:x%2==0,nums))

[2, 6, 8, 10]

In [35]:
## map
## 주어진 리스트, 리스트의 제곱을 한 숫자로 새로운 리스트 만들기
nums=[1,2,3,6,9,8,10,11,13]
a=map(lambda x:x**2,nums)
print(list(a))

[1, 4, 9, 36, 81, 64, 100, 121, 169]

In [38]:
list(map(even,nums))

[False, True, False, True, False, True, True, False, False]

In [41]:
import functools

b=list(range(1,11))

a=[1,3,5,8]
#리스트 합구하기
functools.reduce(lambda x,y:x*y,a)

120


#### 함수 연습문제
 1. 주어진 숫자 리스트의 평균을 구하는 함수를 출력하시오
 1. 해당 숫자가 소수인지 아닌지 판별하시오.
 2. 2부터 해당 숫자사이에 소수가 몇개인지 출력하는 함수를 구하시오

In [123]:
def ave(s):
    _sum=0
    for i in s:
        _sum=_sum+i
    return _sum/len(s)
     

k=[2,34,21,6,1,12,16,24,31,76]

ave(k)

22.3

In [108]:
ave(k)

9.0

In [109]:
a=[2,34,21,6,1,12,16,24,31,76]

k=int(input("숫자를 입력하시오"))

n=0
for i in range(1,k+1):
    if k%i==0:
        n=n+1
if n==2:
   print('소수')
else:
    print('소수아님')

숫자를 입력하시오7
소수

In [126]:
def prime(x):
    n=0
    for i in range(1,x+1):
        if x%i==0:
            n=n+1
    if n==2:
        return True
    else:
        return False
        
prime(4)

False

In [112]:
##2부터 해당 숫자사이에 소수가 몇개인지 출력하는 함수를 구하시오

x=int(input("숫자를 입력하시오"))

a=list(range(2,x+1))
print(a)

count=0
for i in a:
    n=0
    for k in range(1,i+1):
        if i%k==0:
            n=n+1
    if n==2:
        count=count+1
    else:
        count=count
        
print(count)

숫자를 입력하시오15
[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
6

In [0]:
def count_prime(x):
    
    a=list(range(2,x+1))
   
    count=0
    for i in a:
        n=0
        for k in range(1,i+1):
            if i%k==0:
                n=n+1
        if n==2:
            count=count+1
             
    print(count)

In [131]:
count_prime(9)

4

In [0]:
def count_prime(x):
    
    a=list(range(2,x+1))
   
    count=0
    for i in a:
        if prime(i)==0:
            count=count+1
                    
    return count

In [128]:
count_prime(9)

4